.lobby-header-overlay {
	background: unset!important
}

.parties-invite-dropzone {
	bottom: -40px !important;
}

.parties-game-search-info {
	color:#000000!important
}

.parties-game-search-elapsed {
	color: white!important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.parties-background.ember-view .lol-uikit-background-switcher-image {
    display: none !important;
}

.v2-parties-invite-info-panel {
	background: transparent !important;
}

.parties-invite-info-panel.ember-view {
	background: transparent !important;
}

.parties-background {
	background: linear-gradient(to bottom, rgb(255 255 255 / 26%) 0%, rgba(0,0,0,0) 50%, rgb(90 27 62 / 20%) 100%) !important;
}

.parties-game-section.use-animation > .parties-game-info-panel-bg-container > video {
	filter: saturate(0.5) brightness(1) invert(1) hue-rotate(27deg) !important;
}

.parties-status-card-bg-container video {
	filter: saturate(0.5) brightness(1) invert(1) hue-rotate(27deg) !important;
}

.parties-status-member-icons > .parties-status-member-joined {
	filter: grayscale(1) saturate(0) brightness(0.5) !important;
}

:host .parties-status-card.open {
	filter: hue-rotate(240deg) !important;
}
/* Auto accept button */
.cs-buttons-container {
    display: flex;
    gap: 3em;
}

.parties-game-type-select-wrapper.ember-view {
	transition: transform 0.5s ease !important;
    transform: translateX(0px);
}

.parties-custom-game-setup.ember-view { 
	transition: transform 0.5s ease !important;
    transform: translateX(0px);
} 

.custom-game-list.ember-view { 
	transition: transform 0.5s ease !important;
    transform: translateX(0px);
}

.parties-lower-section { 
	transition: transform 0.5s ease !important;
    transform: translateX(0px);
}

.v2-footer-component.ember-view { 
	transition: transform 0.5s ease !important;
    transform: translateX(0px);
}

.invite-info-panel-container {
	transition: opacity 0.5s ease, transform 0.5s ease !important;
    transform: translateX(0px);
    opacity: 1;
}

.arrow-footer.ember-view > div { 
	transition: transform 0.5s ease !important;
    transform: translateX(0px);
}

.parties-point-eligibility-custom.ember-view { 
	transition: transform 0.5s ease !important;
    transform: translateX(0px);
}

.custom-game-teams.ember-view { 
	transition: transform 0.5s ease !important;
    transform: translateX(0px);
}

.parties-invite-info-panel.ember-view { 
	transition: opacity 0.5s ease, transform 0.5s ease !important;
    transform: translateX(0px);
	opacity: 1;
}

.parties-invite-dropzone {
    transition: transform 0.5s ease 0s;
    transform: translateX(0px);
}

.party-members-container {
	transition: transform 0.5s ease 0s;
    transform: translateX(0px);
}

.tft-cards-container {
	transition: transform 0.5s ease 0s;
    transform: translateX(0px);
}

.tft-footer-container.ember-view {
	transition: transform 0.5s ease 0s;
    transform: translateX(0px);
}

.chat-container {
	height: 0px !important;
	top: 40px !important;
}

.parties-chat-room {
	height: 0px !important;
    left: 0px !important;
    top: -6px !important;
}

.custom-root .parties-chat-room-custom {
	top: 358px !important;
}

.find-match-button-container {
	filter: var(--find-match-button) !important;
}

.confirm-button-container {
	filter: var(--find-match-button) !important;
}

.tft-find-match-button-container {
	filter: var(--find-match-button) !important;
}

.parties-footer-notifications {
	top: -120px !important;
}