.loot-backdrop {
	height: 720px !important;
}

.loot-inventory.ember-view {
	height: 520px !important;
}

.loot-recipe-help-container {
	z-index: -1 !important;
}

.loot-recipe-help-container .recipe-help-button {
	display: none !important;
}

.loot-inventory .loot-action-tabs-container {
	height: auto !important;
}

.loot-backdrop.background-static {
	background: none !important;
}

.moon-skin-backdrop {
	background: none !important;
}

.mythic-shop-backdrop {
	background: none !important;
}

.rcp-fe-lol-loot .shoppefront-background {
	display: none !important;
}

.rcp-fe-lol-loot .shoppefront-categories-sidebar {
	background: none !important;
}

.shoppefront-search-bar, .loot-filter {
	opacity: 0.3 !important;
	transition: opacity 0.3s ease !important;
}

.shoppefront-search-bar:hover, .loot-filter:hover {
	opacity: 1 !important;
}

/* 	Decrease (to make loot tray get higher) 
	or increase (to make loot tray get lower) if you have css bug from loot tab */
.loot-tray {
	margin-top: 0px !important;
}