.postgame-champion-background {
	display: none !important;
}

.postgame-background-image {
	display: none !important;
}

.postgame-champion-background-wrapper {
	background: transparent !important;
}

.postgame-champion-background-mask {
	background: transparent !important;
}

.vote-ceremony-v3-background {
	display: none !important;
}

.postgame-map-icon {
	filter: var(--PartiesStatusCard) !important;
}

.postgame-root-component .postgame-header-section.progression-tab {
	backdrop-filter: blur(0px) !important;
}