.rcp-fe-lol-profiles-main > .component-factory-application > .ember-view > .style-profile-backdrop-component.ember-view > 
.style-profile-backdrop-container > .style-profile-masked-image {
	display: none !important;
}

.uikit-background-switcher .lol-uikit-background-switcher-image.transition.fade {
	animation: unset!important
}

.style-profile-ranked-reference-modal-button {
	display: none !important;
}

.style-profile-honor-component.ember-view > .style-profile-emblem-wrapper  > .style-profile-emblem-header > 
.style-profile-emblem-header-subtitle {
	display: none !important;
}

.style-profile-emblem-subheader-ranked > div {
	color: #cdbe91 !important;
}

.ranked-intro-background {
	display: none !important;
 }
 