.hide-navbar-button {
    height: 130px;
    position: absolute;
    top: 247px;
    width: 20px;
    border: 2px solid #8c8263;
    border-radius: 0 6px 6px 0;
    background-color: black;
    cursor: pointer;
    display: block;
    opacity: 0.3;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(212px);
}

.hide-navbar-button-icon {
    width: 36px;
    margin-right: 0px;
    position: relative;
    left: -9px;
    top: 46px;
    display: block;
}

.hide-navbar-button:hover {
    filter: hue-rotate(0deg) drop-shadow(1px 1px 3px pink) !important;
    opacity: 1;
}

.navbar-have-new-content {
    position: relative;
    width: 13px;
    height: 13px;
    background-color: #c8aa6e;
    top: -43px;
    left: 10px;
    border-radius: 50%;
    border: 1px solid;
    display: none;
}