@keyframes answerdiv {
	0% {
		right: 100px; 
		background-color: transparent; 
		border: 2px solid transparent;}
		
	100% {
		right: 221px; 
		background-color: rgb(19, 15, 15); 
		border: 2px solid #8c8263;}
}

@keyframes answer {
	0% {color: transparent;}
	100% {color: #cdbe91;}
}

.watermark {
	margin: 4px !important;
	color: #cdbe91 !important;
	font-family: var(--font-family, var(--font-display));
	font-size: 18px !important;
	transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
    transform: translateX(0px);
}

.watermark-text {
	display: flex;
    bottom: 9px;
    right: 20px;
	position:absolute;
}

.Elaina1ImageCon {
	display: flex;
    bottom: -4px;
    right: 130px;
	position:absolute
}

.Elaina1TextCon {
	display: flex;
    bottom: 260px;
    right: 303px;
	position:absolute
}

.Elaina1Image {
	width: 650px !important;
}

.Elaina1Text {
	margin: 4px !important;
	color: rgb(129 185 224) !important;
	text-align: center !important;
	font-size: 20px !important;
}

.Headpat-con {
	display: flex;
    bottom: 230px;
    right: 500px;
	position:absolute
}

.Headpat {
	font-size: 100px !important;
    width: 110px;
    height: 60px;
	background: transparent;
	border: none;
}

.Boobs-con {
	display: flex;
    bottom: 20px;
    right: 495px;
	position:absolute
}

.Boobs {
	font-size: 100px !important;
    width: 136px;
    height: 65px;
	background: transparent;
	border: none;
}

.goOutSide-con {
	display: flex;
    bottom: -3px;
    right: 434px;
	position:absolute
}

.GoOutSide {
	font-size: 100px !important;
    width: 225px;
    height: 290px;
	background: transparent;
	border: none;
}

.answer1-con {
	display: flex;
    bottom: 150px;
    right: 220px;
    position: absolute;
	border-radius: 10px;
	animation-name: answerdiv;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#answer1 {
	margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    width: 200px;
    font-size: 17px;
	animation-name: answer;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.answer2-con {
	display: flex;
    bottom: 80px;
    right: 220px;
    position: absolute;
	animation-name: answerdiv;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
	border-radius: 10px;
}

#answer2 {
	margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    width: 200px;
    font-size: 17px;
	color: transparent;
	animation-name: answer;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
}

.answer3-con {
	display: flex;
    bottom: 150px;
    right: 220px;
    position: absolute;
	animation-name: answerdiv;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	border-radius: 10px;
}

#answer3 {
	margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    width: 200px;
    font-size: 17px;
	animation-name: answer;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.answer4-con {
	display: flex;
    bottom: 150px;
    right: 200px;
    position: absolute;
	animation-name: answerdiv;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	border-radius: 10px;
}

#answer4 {
	margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    width: 220px;
    font-size: 17px;
	animation-name: answer;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.answer5-con {
	display: flex;
    bottom: 80px;
    right: 200px;
    position: absolute;
	animation-name: answerdiv;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
	border-radius: 10px;
}

#answer5 {
	margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    width: 220px;
    font-size: 17px;
	color: transparent;
	animation-name: answer;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
}

.Greeting {
	margin: 4px !important;
	color: rgb(129 185 224) !important;
	text-align: center !important;
	font-size: 20px !important;
	width: 212px;
	height: 50px;
}