.currency-be-icon-static {
	background-image: var(--BE-Icon) !important;
	background-position: 0px center !important;
}
.currency-be-icon-static-top-up-enabled {
	background-image: var(--BE-Icon) !important;
	background-position: 0px center !important;
}
.currency-be-icon-container-top-up-enabled {
	width: 16px !important;
}

.currency-be {
    margin-left: 10px !important;
}