.currency-rp-top-up-enabled {
	background-image: var(--RP-Icon) !important;
}

.currency-rp {
	background-image: var(--RP-Icon) !important;
	margin-left: 12px !important;
	padding-left: 21px !important;
}