[data-game-mode="CLASSIC"] {
    display: none !important;
}

[data-game-mode="TFT"] {
    display: none !important;
}

.quick-play-game-mode-text {
    display: none !important;
}

.quick-play-button {
    display: none !important;
}