.lol-loading-screen-container.lol-loading-screen-default-state {
	backdrop-filter: blur(15px) ;
	background: transparent!important;
}

.lol-loading-screen-progress-bar-container {
	width: 500px !important;
	top: 35px !important;
}

.lol-loading-screen-container .lol-loading-screen-lol-icon {
	background: var(--ElainaStatic) !important;
	background-repeat: no-repeat;
	background-size: contain;
	width: 240px !important;
	height: 240px !important;
	margin-top: 40px !important;
}